.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.header img{
  max-width: 100%;
}

.buttons{
  display: flex;
  align-items: center;
  gap: 2rem;
  border: .2rem solid purple;
  border-radius: .8rem;
  padding: 1rem;
  height: 4rem;
  width: 100%;
  max-width: 40rem;

}

.buttons input{
  width: 100%;
  color: white;
  background-color: transparent;
  height: 2rem;
  padding: 1rem 0;
  border: 0;
  outline: 0;
}

.buttons input:focus{
 outline: 0;
 border: 0;
}