.banner{
  display: none;
  width: 100%;
  height: 30rem;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 2rem;
  padding: 4rem;
  align-items: center;
  justify-content: flex-start;
}

.banner h1{
  color: white;
  max-width: 35rem;
  width: 100%;
  font-family: 'GandhiSansBold';
  font-size: 3.8rem;
}


@media (min-width: 768px){
  .banner{
    display: flex;
  }
}